.background-section-container {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100vw 60vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include screen-control(640px) {
        background-attachment: initial;
    }

    .description {
        font-size: 45px;
        font-weight: 400;
        margin: 5px;

        @include screen-control(700px) {
            font-size: Max(6.5vw, 25px);
        }
    }

    .description:last-child {
        color: $primary-bg-color;
        font-size: 50px;

        @include screen-control(700px) {
            font-size: Max(7.15vw, 30px);
        }
    }
}