.background-section-container {
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include screen-control(915px) {
        background-attachment: initial;
    }

    @include screen-height-control(500px) {
        height: 60vh;
        background-size: 100vw 60vh;
    }

    .description {
        font-size: 45px;
        font-weight: 400;
        margin: 5px;
        text-align: center;
        animation: fadeIn 0.35s ease-in-out;

        @include screen-control(700px) {
            font-size: Max(6.5vw, 25px);
        }

        @include screen-height-control(700px) {
            font-size: Max(5.7vh, 25px);
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            } 100% {
                opacity: 1;
            }
        }
    }

    .description:last-child {
        color: $primary-bg-color;
        font-size: 50px;

        @include screen-control(700px) {
            font-size: Max(7.15vw, 30px);
        }

        @include screen-height-control(700px) {
            font-size: Max(6.4vh, 30px);
        }
    }

}