.news-details-section-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 170px 0 100px 0;
    background-color: #030112;

    @import "./loading";

    @include screen-control(500px) {
        padding: 150px 0 100px 0;
    }

    .particles {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .news-details-container {
        width: 64vw;
        padding: 100px 100px 80px 100px;
        background-color: white;
        box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;

        @include screen-control(1150px) {
            width: 69vw;
            padding: 100px 80px 80px 80px;
        }

        @include screen-control(1000px) {
            padding: 100px 50px 80px 50px;
        }

        @include screen-control(950px) {
            width: 74vw;
            padding: 100px 60px 80px 60px;
        }

        @include screen-control(750px) {
            width: 80vw;
            padding: 100px 60px 80px 60px;
        }

        @include screen-control(670px) {
            padding: 100px 40px 80px 40px;
        }

        @include screen-control(650px) {
            width: 85vw;
            padding: 100px 50px 80px 50px;
        }

        @include screen-control(550px) {
            padding: 80px 30px 80px 30px;
        }

        @include screen-control(500px) {
            width: 90%;
            padding: 80px 40px 80px 40px;
        }

        @include screen-control(450px) {
            width: 95%;
            padding: 70px 30px 70px 30px;
        }

        .title {
            font-size: Max(2.2vw, 23px);
            margin: 0 auto;
            color: black;
            text-align: center;

            @include screen-control(625px) {
                font-size: 20px;
            }

            @include screen-control(475px) {
                font-size: 19px;
            }

            @include screen-control(455px) {
                font-size: 18px;
            }

            @include screen-control(413px) {
                font-size: 17px;
            }
        }

        .picture-container {
            width: 100%;
            height: Max(28.5vw, 200px);
            margin-top: 55px;

            @include screen-control(550px) {
                margin-top: 40px;
            }

            @include screen-control(500px) {
                height: Max(40vw, 100px);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .metadata {
            color: #545454;
            font-size: 13px;
            font-weight: bold;

            @include screen-control(840px) {
                font-size: 12px;
            }

            @include screen-control(650px) {
                font-size: 11px;
            }

            @include screen-control(600px) {
                font-size: 10px;
            }

            @include screen-control(480px) {
                font-size: 9px;
            }
        }

        .content {
            margin-top: 60px;

            @include screen-control(840px) {
                margin-top: 50px;
            }

            @include screen-control(550px) {
                margin-top: 40px;
            }

            @include screen-control(430px) {
                margin-top: 30px;
            }

            p {
                font-size: 16px;
                color: black;

                @include screen-control(1200px) {
                    font-size: 15px;
                }

                @include screen-control(840px) {
                    font-size: 14px;
                }

                @include screen-control(650px) {
                    font-size: 13px;
                }

                @include screen-control(600px) {
                    font-size: 12px;
                }

                @include screen-control(480px) {
                    font-size: 11px;
                }
            }
        }
    }
}