.news-card-container {
    width: 310px;
    height: 380px;
    background-color: white;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    cursor: pointer;
    justify-self: center;

    &:hover {
        transform: translateY(-5px);
    }

    @include screen-control(880px) {
        width: 280px;
    }

    @include screen-control(530px) {
        width: Max(52.8vw, 250px);
        height: Max(71vw, 330px);
    }

    @include screen-height-control(500px) {
        width: 250px;
        height: 350px;
    }
    
    .picture-container {
        width: 100%;
        height: 200px;
        position: relative;

        @include screen-control(530px) {
            height: Max(33vw, 160px);
        }

        @include screen-height-control(500px) {
            height: 160px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }

        &:hover {

            &::after { 
                opacity: 1;
            }

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }

    }

    .description-container {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;

        @include screen-control(470px) {
            padding: 25px 20px;
        }

        .metadata {
            color: gray;
            font-size: 12px;

            @include screen-control(880px) {
                font-size: 10px;
            }

            @include screen-control(530px) {
                font-size: Max(1.88vw, 9px);
            }

            @include screen-height-control(500px) {
                font-size: 9px;
            }
        }

        .title {
            color: black;
            margin: 0;

            @include screen-control(880px) {
                font-size: 16px;
            }

            @include screen-control(530px) {
                font-size: Max(3vw, 13px);
            }

            @include screen-height-control(500px) {
                font-size: 13px;
            }
        }

        .content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            p {
                font-size: 13px;
                color: black;

                @include screen-control(880px) {
                    font-size: 11px;
                }

                @include screen-control(530px) {
                    font-size: Max(2.07vw, 10px);
                }

                @include screen-height-control(500px) {
                    font-size: 10px;
                }
            }
        }

        .read-btn {
            all: unset;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 10px;
            cursor: pointer;
            transition: all .1s linear;

            &:hover {
                gap: 7px;

                p {
                    color: rgb(50, 50, 50);
                }

                .read-icon {
                    color: rgb(50, 50, 50);
                }

            }

            p {
                color: #009f9d;
                font-size: 12px;
                margin: 5px 0;

                @include screen-control(530px) {
                    font-size: Max(2.26vw, 10px);
                }

                @include screen-height-control(500px) {
                    font-size: 10px;
                }
            }

            .read-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #009f9d;
            }
        }
    }
}

.news-card-container.single-card {
    justify-self: start;

    @include screen-control(826px) {
        margin-left: 30px;
    }

    @include screen-control(700px) {
        margin-left: 0;
        justify-self: center;
    }
}