.page-not-found-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;

    .text-container {
        text-align: center;
        
        h1 {
            margin-top: 0;
            font-size: 50px;
            margin-bottom: 0;
        }

        p {
            font-size: 22px;
            margin-top: 10px;
        }

        .go-back-btn {
            all: unset;
            width: 100px;
            height: 40px;
            color: white;
            background-color: $primary-bg-color;
            cursor: pointer;
            border-radius: 8px;
        }
        
    }
}