@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/reset";

body {
    font-family: 'Noto Serif', serif;
    color: $primary-font-color;
}

.container {
    position: relative;
    overflow-x: hidden;

    @import "./pages/home";
    @import "./pages/team";
    @import "./pages/events";
    @import "./pages/news";
    @import "./pages/pagenotfound";
}